---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.207.20/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 554bb0a13cf67fdb5ea4272db08de576/11273859509006036204;o=0
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.207.20",
          "city": "Brooklyn",
          "region": "New York",
          "country": "US",
          "loc": "40.6944,-73.9906",
          "postal": "11201"
        }
  recorded_at: Mon, 27 Aug 2018 09:13:08 GMT
recorded_with: VCR 4.0.0
